<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.HushixinxiMapper">
  <resultMap id="BaseResultMap" type="com.entity.Hushixinxi">
    <id column="id" jdbcType="INTEGER" property="id" />
	<result column="hushigonghao" jdbcType="VARCHAR" property="hushigonghao" />    <result column="mima" jdbcType="VARCHAR" property="mima" />    <result column="hushixingming" jdbcType="VARCHAR" property="hushixingming" />    <result column="xingbie" jdbcType="VARCHAR" property="xingbie" />    <result column="dianhua" jdbcType="VARCHAR" property="dianhua" />    <result column="shenfenzheng" jdbcType="VARCHAR" property="shenfenzheng" />    <result column="beizhu" jdbcType="VARCHAR" property="beizhu" />    
    <result column="addtime" jdbcType="VARCHAR" property="addtime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, hushigonghao,mima,hushixingming,xingbie,dianhua,shenfenzheng,beizhu, addtime
  </sql>
  <select id="quchongHushixinxi"  parameterType="java.util.Map" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from hushixinxi 
    where hushigonghao = #{hushigonghao,jdbcType=VARCHAR} limit 0,1
  </select>
 <select id="getCount"   resultType="int" parameterType="java.util.Map" >
    select  count(*) from hushixinxi  where 1=1
    <if test="hushigonghao!=null">and hushigonghao like  concat('%',#{hushigonghao,jdbcType=VARCHAR},'%')</if>     <if test="mima!=null">and mima like  concat('%',#{mima,jdbcType=VARCHAR},'%')</if>     <if test="hushixingming!=null">and hushixingming like  concat('%',#{hushixingming,jdbcType=VARCHAR},'%')</if>     <if test="xingbie!=null">and xingbie like  concat('%',#{xingbie,jdbcType=VARCHAR},'%')</if>     <if test="dianhua!=null">and dianhua like  concat('%',#{dianhua,jdbcType=VARCHAR},'%')</if>     <if test="shenfenzheng!=null">and shenfenzheng like  concat('%',#{shenfenzheng,jdbcType=VARCHAR},'%')</if>     <if test="beizhu!=null">and beizhu like  concat('%',#{beizhu,jdbcType=VARCHAR},'%')</if>     
  </select> 
  <select id="getAll"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from hushixinxi  where 1=1
    <if test="hushigonghao!=null">
    and hushigonghao =#{hushigonghao}
    </if>
  </select>
  
  <select id="getsyhushixinxi1"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from hushixinxi  where 1=1
    limit 0,5
  </select>
  <select id="getsyhushixinxi2"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from hushixinxi  where 1=1
    limit 0,5
  </select>
  <select id="getsyhushixinxi3"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from hushixinxi  where 1=1
    limit 0,5
  </select>
  
   <select id="getByPage" parameterType="java.util.Map" resultMap="BaseResultMap">
     select  <include refid="Base_Column_List" /> 
     from hushixinxi where 1=1 
     <if test="hushigonghao!=null">and hushigonghao like  concat('%',#{hushigonghao,jdbcType=VARCHAR},'%')</if>     <if test="mima!=null">and mima like  concat('%',#{mima,jdbcType=VARCHAR},'%')</if>     <if test="hushixingming!=null">and hushixingming like  concat('%',#{hushixingming,jdbcType=VARCHAR},'%')</if>     <if test="xingbie!=null">and xingbie like  concat('%',#{xingbie,jdbcType=VARCHAR},'%')</if>     <if test="dianhua!=null">and dianhua like  concat('%',#{dianhua,jdbcType=VARCHAR},'%')</if>     <if test="shenfenzheng!=null">and shenfenzheng like  concat('%',#{shenfenzheng,jdbcType=VARCHAR},'%')</if>     <if test="beizhu!=null">and beizhu like  concat('%',#{beizhu,jdbcType=VARCHAR},'%')</if>     
	 order by id desc
     <if test="pageno!=null and pageSize!=null">
     limit #{pageno},#{pageSize}
     </if>
     </select>
	 
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from hushixinxi
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from hushixinxi
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.entity.Hushixinxi">
    insert into hushixinxi (id, hushigonghao,mima,hushixingming,xingbie,dianhua,shenfenzheng,beizhu, addtime)
    values (#{id,jdbcType=INTEGER}, #{hushigonghao,jdbcType=VARCHAR},#{mima,jdbcType=VARCHAR},#{hushixingming,jdbcType=VARCHAR},#{xingbie,jdbcType=VARCHAR},#{dianhua,jdbcType=VARCHAR},#{shenfenzheng,jdbcType=VARCHAR},#{beizhu,jdbcType=VARCHAR}, #{addtime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.entity.Hushixinxi">
    insert into hushixinxi
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="hushigonghao != null"> hushigonghao, </if>      <if test="mima != null"> mima, </if>      <if test="hushixingming != null"> hushixingming, </if>      <if test="xingbie != null"> xingbie, </if>      <if test="dianhua != null"> dianhua, </if>      <if test="shenfenzheng != null"> shenfenzheng, </if>      <if test="beizhu != null"> beizhu, </if>      
      <if test="addtime != null">
        addtime,
      </if>
      
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="hushigonghao != null"> #{hushigonghao,jdbcType=VARCHAR},</if>      <if test="mima != null"> #{mima,jdbcType=VARCHAR},</if>      <if test="hushixingming != null"> #{hushixingming,jdbcType=VARCHAR},</if>      <if test="xingbie != null"> #{xingbie,jdbcType=VARCHAR},</if>      <if test="dianhua != null"> #{dianhua,jdbcType=VARCHAR},</if>      <if test="shenfenzheng != null"> #{shenfenzheng,jdbcType=VARCHAR},</if>      <if test="beizhu != null"> #{beizhu,jdbcType=VARCHAR},</if>      
      <if test="addtime != null">
        #{addtime,jdbcType=VARCHAR},
      </if>
      
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.entity.Hushixinxi">
    update hushixinxi
    <set>
	  <if test="hushigonghao != null"> hushigonghao = #{hushigonghao,jdbcType=VARCHAR},</if>      <if test="mima != null"> mima = #{mima,jdbcType=VARCHAR},</if>      <if test="hushixingming != null"> hushixingming = #{hushixingming,jdbcType=VARCHAR},</if>      <if test="xingbie != null"> xingbie = #{xingbie,jdbcType=VARCHAR},</if>      <if test="dianhua != null"> dianhua = #{dianhua,jdbcType=VARCHAR},</if>      <if test="shenfenzheng != null"> shenfenzheng = #{shenfenzheng,jdbcType=VARCHAR},</if>      <if test="beizhu != null"> beizhu = #{beizhu,jdbcType=VARCHAR},</if>      
      <if test="addtime != null">
        addtime = #{addtime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  
  
  <update id="updateByPrimaryKey" parameterType="com.entity.Hushixinxi">
    update hushixinxi
    set hushigonghao = #{hushigonghao,jdbcType=VARCHAR},mima = #{mima,jdbcType=VARCHAR},hushixingming = #{hushixingming,jdbcType=VARCHAR},xingbie = #{xingbie,jdbcType=VARCHAR},dianhua = #{dianhua,jdbcType=VARCHAR},shenfenzheng = #{shenfenzheng,jdbcType=VARCHAR},beizhu = #{beizhu,jdbcType=VARCHAR},  addtime = #{addtime,jdbcType=VARCHAR} where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>
