<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.YaopinxinxiMapper">
  <resultMap id="BaseResultMap" type="com.entity.Yaopinxinxi">
    <id column="id" jdbcType="INTEGER" property="id" />
	<result column="yaopinbianhao" jdbcType="VARCHAR" property="yaopinbianhao" />    <result column="yaopinmingcheng" jdbcType="VARCHAR" property="yaopinmingcheng" />    <result column="chengfen" jdbcType="VARCHAR" property="chengfen" />    <result column="zhuzhizhengzhuang" jdbcType="VARCHAR" property="zhuzhizhengzhuang" />    <result column="tupian" jdbcType="VARCHAR" property="tupian" />    <result column="shengchanyaochang" jdbcType="VARCHAR" property="shengchanyaochang" />    
    <result column="addtime" jdbcType="VARCHAR" property="addtime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, yaopinbianhao,yaopinmingcheng,chengfen,zhuzhizhengzhuang,tupian,shengchanyaochang, addtime
  </sql>
  <select id="quchongYaopinxinxi"  parameterType="java.util.Map" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from yaopinxinxi 
    where yaopinbianhao = #{yaopinbianhao,jdbcType=VARCHAR} limit 0,1
  </select>
 <select id="getCount"   resultType="int" parameterType="java.util.Map" >
    select  count(*) from yaopinxinxi  where 1=1
    <if test="yaopinbianhao!=null">and yaopinbianhao like  concat('%',#{yaopinbianhao,jdbcType=VARCHAR},'%')</if>     <if test="yaopinmingcheng!=null">and yaopinmingcheng like  concat('%',#{yaopinmingcheng,jdbcType=VARCHAR},'%')</if>     <if test="chengfen!=null">and chengfen like  concat('%',#{chengfen,jdbcType=VARCHAR},'%')</if>     <if test="zhuzhizhengzhuang!=null">and zhuzhizhengzhuang like  concat('%',#{zhuzhizhengzhuang,jdbcType=VARCHAR},'%')</if>     <if test="tupian!=null">and tupian like  concat('%',#{tupian,jdbcType=VARCHAR},'%')</if>     <if test="shengchanyaochang!=null">and shengchanyaochang like  concat('%',#{shengchanyaochang,jdbcType=VARCHAR},'%')</if>     
  </select> 
  <select id="getAll"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from yaopinxinxi  where 1=1
    <if test="yaopinbianhao!=null">
    and yaopinbianhao =#{yaopinbianhao}
    </if>
  </select>
  
  <select id="getsyyaopinxinxi1"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from yaopinxinxi  where 1=1
    limit 0,5
  </select>
  <select id="getsyyaopinxinxi2"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from yaopinxinxi  where 1=1
    limit 0,5
  </select>
  <select id="getsyyaopinxinxi3"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from yaopinxinxi  where 1=1
    limit 0,5
  </select>
  
   <select id="getByPage" parameterType="java.util.Map" resultMap="BaseResultMap">
     select  <include refid="Base_Column_List" /> 
     from yaopinxinxi where 1=1 
     <if test="yaopinbianhao!=null">and yaopinbianhao like  concat('%',#{yaopinbianhao,jdbcType=VARCHAR},'%')</if>     <if test="yaopinmingcheng!=null">and yaopinmingcheng like  concat('%',#{yaopinmingcheng,jdbcType=VARCHAR},'%')</if>     <if test="chengfen!=null">and chengfen like  concat('%',#{chengfen,jdbcType=VARCHAR},'%')</if>     <if test="zhuzhizhengzhuang!=null">and zhuzhizhengzhuang like  concat('%',#{zhuzhizhengzhuang,jdbcType=VARCHAR},'%')</if>     <if test="tupian!=null">and tupian like  concat('%',#{tupian,jdbcType=VARCHAR},'%')</if>     <if test="shengchanyaochang!=null">and shengchanyaochang like  concat('%',#{shengchanyaochang,jdbcType=VARCHAR},'%')</if>     
	 order by id desc
     <if test="pageno!=null and pageSize!=null">
     limit #{pageno},#{pageSize}
     </if>
     </select>
	 
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from yaopinxinxi
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from yaopinxinxi
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.entity.Yaopinxinxi">
    insert into yaopinxinxi (id, yaopinbianhao,yaopinmingcheng,chengfen,zhuzhizhengzhuang,tupian,shengchanyaochang, addtime)
    values (#{id,jdbcType=INTEGER}, #{yaopinbianhao,jdbcType=VARCHAR},#{yaopinmingcheng,jdbcType=VARCHAR},#{chengfen,jdbcType=VARCHAR},#{zhuzhizhengzhuang,jdbcType=VARCHAR},#{tupian,jdbcType=VARCHAR},#{shengchanyaochang,jdbcType=VARCHAR}, #{addtime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.entity.Yaopinxinxi">
    insert into yaopinxinxi
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="yaopinbianhao != null"> yaopinbianhao, </if>      <if test="yaopinmingcheng != null"> yaopinmingcheng, </if>      <if test="chengfen != null"> chengfen, </if>      <if test="zhuzhizhengzhuang != null"> zhuzhizhengzhuang, </if>      <if test="tupian != null"> tupian, </if>      <if test="shengchanyaochang != null"> shengchanyaochang, </if>      
      <if test="addtime != null">
        addtime,
      </if>
      
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="yaopinbianhao != null"> #{yaopinbianhao,jdbcType=VARCHAR},</if>      <if test="yaopinmingcheng != null"> #{yaopinmingcheng,jdbcType=VARCHAR},</if>      <if test="chengfen != null"> #{chengfen,jdbcType=VARCHAR},</if>      <if test="zhuzhizhengzhuang != null"> #{zhuzhizhengzhuang,jdbcType=VARCHAR},</if>      <if test="tupian != null"> #{tupian,jdbcType=VARCHAR},</if>      <if test="shengchanyaochang != null"> #{shengchanyaochang,jdbcType=VARCHAR},</if>      
      <if test="addtime != null">
        #{addtime,jdbcType=VARCHAR},
      </if>
      
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.entity.Yaopinxinxi">
    update yaopinxinxi
    <set>
	  <if test="yaopinbianhao != null"> yaopinbianhao = #{yaopinbianhao,jdbcType=VARCHAR},</if>      <if test="yaopinmingcheng != null"> yaopinmingcheng = #{yaopinmingcheng,jdbcType=VARCHAR},</if>      <if test="chengfen != null"> chengfen = #{chengfen,jdbcType=VARCHAR},</if>      <if test="zhuzhizhengzhuang != null"> zhuzhizhengzhuang = #{zhuzhizhengzhuang,jdbcType=VARCHAR},</if>      <if test="tupian != null"> tupian = #{tupian,jdbcType=VARCHAR},</if>      <if test="shengchanyaochang != null"> shengchanyaochang = #{shengchanyaochang,jdbcType=VARCHAR},</if>      
      <if test="addtime != null">
        addtime = #{addtime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  
  
  <update id="updateByPrimaryKey" parameterType="com.entity.Yaopinxinxi">
    update yaopinxinxi
    set yaopinbianhao = #{yaopinbianhao,jdbcType=VARCHAR},yaopinmingcheng = #{yaopinmingcheng,jdbcType=VARCHAR},chengfen = #{chengfen,jdbcType=VARCHAR},zhuzhizhengzhuang = #{zhuzhizhengzhuang,jdbcType=VARCHAR},tupian = #{tupian,jdbcType=VARCHAR},shengchanyaochang = #{shengchanyaochang,jdbcType=VARCHAR},  addtime = #{addtime,jdbcType=VARCHAR} where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>
